body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 25px;
  /* background-color: var(--bs-secondary-bg) !important; */
  font-family: "Audiowide", sans-serif !important; /*https://fonts.google.com/selection/embed*/
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: "Audiowide", sans-serif !important; /*https://fonts.google.com/selection/embed*/
  font-weight: 400;
  font-style: normal;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bs-secondary-bg);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.brightness-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

#btnGroup {
  display: flex;
  gap: 10px;
}

#btnGroup button {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  gap: 5px;
}

#btnGroup a {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  gap: 5px;
}

button.btn #powerBtn {
  fill: var(--bs-btn-color);
}

button.btn:hover #powerBtn {
  fill: var(--bs-btn-hover-color);
}

a.btn #configBtn {
  fill: var(--bs-btn-color);
}

a.btn:hover #configBtn {
  fill: var(--bs-btn-hover-color);
}

#brightInput {
  accent-color: var(--bs-dark-text-emphasis);
  width: 225px;
}

#brightInput::-webkit-slider-runnable-track {
  background: var(--bs-dark-text-emphasis);
  /* Cor da linha */
  height: 5px;
  /* Espessura da linha */
}

/* Firefox */
#brightInput::-moz-range-track {
  background: var(--bs-dark-text-emphasis);
  height: 5px;
}

#brightInput::-webkit-slider-thumb {
  background-color: #fefefe; /* Cor da bolinha */
  border: 1px solid #1c1a1f; /* Borda da bolinha */
}

#brightInput::-moz-range-thumb {
  background-color: #fefefe;
  border: 1px solid #1c1a1f;
}

#brightInputLabel {
  color: var(--bs-dark-text-emphasis);
  margin-right: 2px;
  margin-bottom: 0px !important;
  text-align: center;
}

.form-range {
  margin-left: 2px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
  margin-top: min(15vh, 140px);
}

#mii-neon svg {
  width: 420px;
  height: 594px;
  stroke: #f0f0f0;
  stroke-width: 0.5;
  fill-opacity: 1;
  fill: #18181c;
}

#color-container {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.tab-content.active {
  display: flex;
}

#effects-list {
  padding: 20px;
  /* background-color: var(--bs-tertiary-bg); */
  border-radius: 10px;
}

#effects-list h2 {
  text-align: center;
  margin-bottom: 10px;
}

#effects-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#effects-list li {
  text-align: center;
  padding: 10px;
}

.nav {
  background: var(--bs-secondary-bg);
  padding-top: 5px;
}

.nav-link {
  color: var(--bs-emphasis-color) !important;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

#socials {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#return-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#return-btn span svg {
  fill: var(--bs-link-color);
}

#atencao {
  color: var(--bs-warning-text-emphasis);
}

@media (max-height: 850px) {
  body {
    height: 120vh;
  }

  #container {
    gap: 5vw;
    margin-top: 5vh;
  }

  #effects {
    margin-top: 10vh;
  }

  #effects-list {
    width: 200px;
    padding: 10px;
  }

  #effects-list h2 {
    display: none;
  }

  #effects-list ul {
    display: block;
  }

  #effects-list li {
    text-align: center;
    padding: 10px;
  }

  #topNavBar {
    padding-top: 2vh;
  }
}

@media (min-width: 650px) and (min-height: 800px) {
  .tab-content {
    display: flex !important;
  }
}

@media (max-width: 650px) {
  body {
    height: 130vh;
  }

  #brightInputLabel {
    display: none;
  }

  .top-bar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .brightness-control {
    order: 2;
  }

  .btn-group {
    order: 1;
  }

  #color-container {
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-direction: column;
  }

  #mii-neon svg {
    width: 315px;
    height: 446px;
  }
}
