:root,
[data-bs-theme="light"] {
  ---my-border-color: #1c1a1f;
}

[data-bs-theme="dark"] {
  ---my-border-color: #fefefe;
}

:root[data-bs-theme="mii"] {
  color-scheme: dark;
  ---my-border-color: #fefefe;
  --bs-body-color: #fefefe;
  --bs-body-bg: #181331;
  --bs-emphasis-color: #fefefe;
  --bs-secondary-bg: #2b2258;
  --bs-tertiary-bg: #2b3035;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #f9fc36;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #fefefe;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #00effe;
  --bs-link-color-rgb: 0, 239, 254;
  --bs-link-hover-color: #0098a3;
  --bs-link-hover-color-rgb: 0, 152, 163;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;

  .btn-primary {
    --bs-btn-color: #fefefe;
    --bs-btn-bg: #ff2762;
    --bs-btn-border-color: #ff2762;
    --bs-btn-hover-color: #fefefe;
    --bs-btn-hover-bg: #fd60a4;
    --bs-btn-hover-border-color: #fd60a4;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fefefe;
    --bs-btn-active-bg: #ed97a8;
    --bs-btn-active-border-color: #1c1a1f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fefefe;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
  }

  .btn-secondary {
    --bs-btn-color: #fefefe;
    --bs-btn-bg: #fd60a4;
    --bs-btn-border-color: #fd60a4;
    --bs-btn-hover-color: #fefefe;
    --bs-btn-hover-bg: #fe599b;
    --bs-btn-hover-border-color: #fe599b;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fefefe;
    --bs-btn-active-bg: #ffbeb8;
    --bs-btn-active-border-color: #1c1a1f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fefefe;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
  }

  .btn-outline-primary {
    --bs-btn-color: #00effe;
    --bs-btn-border-color: #00effe;
    --bs-btn-hover-color: #1c1a1f;
    --bs-btn-hover-bg: #00effe;
    --bs-btn-hover-border-color: #00effe;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fefefe;
    --bs-btn-active-bg: #00effe;
    --bs-btn-active-border-color: #1c1a1f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
  }

  .btn-outline-warning {
    --bs-btn-color: #f9fc36;
    --bs-btn-border-color: #f9fc36;
    --bs-btn-hover-color: #1c1a1f;
    --bs-btn-hover-bg: #f9fc36;
    --bs-btn-hover-border-color: #f9fc36;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #1c1a1f;
    --bs-btn-active-bg: #f9fc36;
    --bs-btn-active-border-color: #1c1a1f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #dc3545;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #dc3545;
    --bs-gradient: none;
  }
}
